<h1>All Subjects</h1>
<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Fee</th>
		<th></th>
	</tr>
	<tr>
		<% @subjects.each do |subject| %>
		<td><%= link_to "#{subject.name}", edit_subject_path(subject) %></td>
		<td><%= subject.fee %></td>
		<td>
	<%= link_to "Delete",
				subject,
				:method => :delete %></td>
	</tr>



<% end %>
