// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile label {
  font-weight: bold;
  width: 160px;
  float: left;
  clear: both;
}
.profile span {

}
.profile ul {
  list-style: none;
}
.profile li {
  padding: 8px 0;
}
.profile li ul {
  float: left;
  margin: -7px 0 20px -1px;
}
.action-button {
  padding-left: 180px;
}


